{% extends "member/base.html" %}
{% block title %}{{ msg.agree_title }} | {{ church.name }}{% endblock %}
{% block content %}
<h1 class="mgreet">{{ msg.agree_title }}</h1>
<p class="msub">{{ msg.agree_intro.format(church=church.name) }}</p>

<section class="mcard">
  <ul class="rules">
    {% for title, detail in community.rules %}
      <li><b>{{ title }}</b>{{ detail }}</li>
    {% endfor %}
  </ul>
  <p class="mnote">{{ community.enforcement }}</p>
  <p class="mnote"><a href="{{ url_for('public.community') }}">{{ msg.agree_full }}</a></p>
</section>

<form method="post" action="{{ url_for('member.chat_agree') }}">
  {{ csrf_field() }}
  <button class="btn wide" type="submit">{{ msg.agree_submit }}</button>
</form>
{% endblock %}
