{% extends "member/base.html" %}
{% block title %}{{ grp.member_heading }} | {{ church.name }}{% endblock %}
{% block content %}
<h1 class="mgreet">{{ grp.member_heading }}</h1>

{% if groups %}
  {% for group in groups %}
    {% set meeting = group.next_meeting() %}
    <section class="mcard">
      <div class="mlbl">{{ group.meeting_pattern or grp.member_next }}</div>
      <div class="mtitle">{{ group.name }}</div>
      {% if group.leaders %}<p class="mnote">{{ grp.led_by.format(names=group.leader_names) }}</p>{% endif %}

      {% if meeting %}
        <div class="mrow">
          <span>{{ meeting.meets_at|church_time("%a %-d %b, %-I:%M%p") }}</span>
          <b>{{ grp.going_count.format(count=meeting.going_count) }}</b>
        </div>
        {% if meeting.location %}<p class="mnote">{{ meeting.location }}</p>{% endif %}

        {% set mine = meeting.response_for(person.id) %}
        <p class="mnote">{{ grp.rsvp_prompt }}</p>
        <form method="post" action="{{ url_for('member.rsvp', meeting_id=meeting.id) }}">
          {{ csrf_field() }}
          <div class="rsvps">
            {% for choice in rsvp_choices %}
              <button class="btn {% if mine != choice %}ghostbtn{% endif %}"
                      type="submit" name="response" value="{{ choice }}">
                {{ grp['rsvp_' + choice] }}
              </button>
            {% endfor %}
          </div>
        </form>
      {% else %}
        <p class="mnote">{{ grp.member_no_meeting }}</p>
      {% endif %}
    </section>
  {% endfor %}
{% else %}
  <section class="mcard">
    <div class="mtitle">{{ grp.member_none }}</div>
    <p class="mnote">{{ grp.member_none_hint }}</p>
  </section>
{% endif %}
{% endblock %}
