{% extends "public.html" %}
{% block title %}{{ content.change_title }} | {{ church.name }}{% endblock %}
{% block inner %}
  <h1>{{ content.change_title }}</h1>
  <p class="lede">{{ content.change_body }}</p>

  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in [form.password, form.confirm] %}
      <div class="field">
        {{ field.label }}
        {{ field(class="input") }}
        {% for error in field.errors %}<div class="fielderr">{{ error }}</div>{% endfor %}
      </div>
    {% endfor %}
    <button class="btn wide" type="submit">{{ content.change_submit }}</button>
  </form>
{% endblock %}
