{% extends "kids/kiosk_base.html" %}
{% block title %}{{ content.forgot_heading }} | {{ church.name }}{% endblock %}
{% block content %}
  <h1>{{ content.forgot_heading }}</h1>
  <p class="lede">{{ content.forgot_hint }}</p>
  <form method="post">
    {{ csrf_field() }}
    <input class="input" type="email" name="email" autocomplete="off" autofocus
           aria-label="{{ content.forgot_email }}">
    <button class="btn wide" type="submit">{{ content.forgot_send }}</button>
  </form>
  <p class="footnote"><a href="{{ url_for('kids.kiosk') }}">{{ content.forgot_back }}</a></p>
{% endblock %}
