{% extends "kids/kiosk_base.html" %}
{% block title %}{{ content.kiosk_welcome }} | {{ church.name }}{% endblock %}
{% block content %}
  {% if not open_session %}
    <h1>{{ content.kiosk_closed }}</h1>
    <p class="lede">{{ content.no_open_session_hint }}</p>
  {% elif locked %}
    <h1>{{ content.kiosk_too_many }}</h1>
  {% else %}
    <h1>{{ content.kiosk_welcome }}</h1>
    <p class="lede">{{ content.kiosk_prompt }}</p>

    <form method="post" id="pinform">
      {{ csrf_field() }}
      <input class="input pinbox mono" type="text" name="pin" inputmode="numeric"
             autocomplete="off" maxlength="6" autofocus
             aria-label="{{ content.kiosk_prompt }}">
      <button class="btn wide" type="submit">{{ content.check_in }}</button>
    </form>

    <p class="footnote">
      <a href="{{ url_for('kids.kiosk_forgot') }}">{{ content.kiosk_forgot }}</a>
    </p>
  {% endif %}
{% endblock %}
