{% extends "public.html" %}
{% block title %}{{ content.title }} | {{ church.name }}{% endblock %}
{% block inner %}
  <h1>{{ content.title }}</h1>
  <p class="lede">{{ content.subtitle.format(church=church.name) }}</p>
  <p>{{ content.intro.format(church=church.name) }}</p>

  <ul class="policy">
    {% for title, detail in content.rules %}
      <li><b>{{ title }}</b><span>{{ detail }}</span></li>
    {% endfor %}
  </ul>

  <h2 class="policyh">{{ content.enforcement_heading }}</h2>
  <p>{{ content.enforcement }}</p>
  <p>{{ content.contact.format(church=church.name) }}</p>

  <p class="footnote">
    <a href="{{ url_for('public.support') }}">{{ content.support_link }}</a>
    &middot;
    <a href="{{ url_for('public.privacy') }}">{{ content.privacy_link }}</a>
  </p>
{% endblock %}
