{% extends "public.html" %}
{% block title %}{{ content.title }} | {{ church.name }}{% endblock %}
{% block inner %}
  <h1>{{ content.title }}</h1>
  <p class="lede">{{ content.subtitle }}</p>

  <h2 class="policyh">{{ content.answers_heading }}</h2>
  <ul class="policy">
    {% for item in content.answers %}
      <li>
        <b>{{ item.q }}</b>
        <span>{{ item.a.format(church=church.name) }}</span>
      </li>
    {% endfor %}
  </ul>

  <h2 class="policyh">{{ content.contact_heading }}</h2>
  <p>{{ content.contact_church.format(church=church.name) }}</p>
  <p>{{ content.contact_us }}</p>
  <p class="footnote">{{ content.contact_detail }}</p>

  <p class="footnote">
    <a href="{{ url_for('public.privacy') }}">{{ content.privacy_link }}</a>
    &middot;
    <a href="{{ url_for('public.community') }}">{{ content.community_link }}</a>
    &middot;
    <a href="{{ url_for('auth.login') }}">{{ content.sign_in_link }}</a>
  </p>
{% endblock %}
